@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: #353535;
  border: 1px solid #555
}

.checkbox{
  border-width: 2px;
  border-radius: 3px;
  background-color: #eee;
} 
