@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #202020;
  color: #ddd;
}

.card {
  background-color: #353535;
}

input {
  background-color: #606060;
  color: #fff;
}